<script lang="ts">
	import vegaEmbed from "vega-embed";
	import type { TopLevelSpec } from "vega-lite";
	import { get_aggregate_plots, type ChainData } from "./chain_plots";

	export let chain_data: ChainData[];

	function embed(node: HTMLElement, vega_specification: TopLevelSpec) {
		const div_id = node.id;
		vegaEmbed('#'+div_id, vega_specification, {renderer: "svg"});
	}

	function get_selected_chain_data() {
		return chain_data.filter(
			c=>aggregated_chain_ids.includes(c.chain_id)
		);
	}

	function update_plots() {
		active_specifications = get_aggregate_plots(get_selected_chain_data())
			.map(function(spec) {
				return {
					...spec,
					height: 400,
					width: 400,
					autosize: {
						type: "fit",
						contains: "padding"
					},
				};
			});
	}

	function download_selected_chain_data() {
		const element = document.createElement('a');
		const selected_chain_data = get_selected_chain_data();
		// Ignore vega_specifications attribute, as the plots are displayed in the
		// component and it makes for an excessively large file because of
		// the amount of duplicate information
		const pruned_chain_data = [];
		for (const chain_data of selected_chain_data) {
			const pruned = {...chain_data} as any;
			delete pruned.vega_specifications;
			pruned_chain_data.push(pruned);
		}
		const text = JSON.stringify(pruned_chain_data, null, 2);
		const filename = 'chain_data.json';
		element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		element.setAttribute('download', filename);
		element.style.display = 'none';
		document.body.appendChild(element);
		element.click();
		document.body.removeChild(element);
	}

	const chain_ids = chain_data.map(c=>c.chain_id);
	let aggregated_chain_ids: string[] = [];
	let active_specifications = get_aggregate_plots([]);
</script>

<div id="section">
	<div class="container">
		{#each chain_ids as chain_id}
			<div class="field">
				<div class="control">
					<label class="checkbox">
						<input type="checkbox" bind:group={aggregated_chain_ids} value={chain_id}>
						{chain_id}
					</label>
				</div>
			</div>
		{/each}

		<div class="field">
			<div class="control">
				<button class="button" on:click={update_plots}>
					Update
				</button>
			</div>
			<div class="control">
				<button class="button" on:click={download_selected_chain_data}>
					Download processed-data
				</button>
			</div>
		</div>
	</div>

	<p>Survey response values are from 1 to 7, inclusive.</p>

	<div class="container">
		{#key active_specifications}
			{#each active_specifications as vega_specification, i}
				<div class="vega">
					<div class="inner-vega" id={"vega_lite"+i} use:embed={vega_specification}></div>
				</div>
			{/each}
		{/key}
	</div>
</div>

<style>
	#container {
		height: 500px;
		width: 90vw;
	}
	.inner-vega {
		height: 500px;
	}
	.vega {
		height: 500px;
	}
</style>
