<script lang="ts">
	import { get_new_snapshot_id, write_chain, write_snapshot } from "./firebase";
	import type { SessionSnapshot } from "./session_snapshot";
	import { GoalSource } from "$lib/goal";
	import { InventorySource } from "$lib/firebase";
	import type { Chain } from "$lib/firebase";

	export let snapshot_options: {id: string, snapshot: SessionSnapshot}[];

	let promise: null|Promise<void> = null;
	let copy_n = 5;
	let item_n = 3;
	let chain_name = "";
	let chain_seed = "";
	let selected_snapshot_i = 0;
	let session_timeout_m = 20;
	let sat_item_bonus_usd = 0.4;
	let minimum_sat_items_to_store_node = 3;
	let enable_session_timeout_m = false;
	let enable_sat_item_bonus_usd = false;
	let completion_code = "";
	let source = GoalSource.AllCraftableItems;
	let inventory_source = InventorySource.BaseInventory;
	let generate_goal = true;

	async function create_chain() {
		const snapshot = snapshot_options[selected_snapshot_i].snapshot;
		const snapshot_id = await get_new_snapshot_id();
		await write_snapshot(snapshot_id, snapshot);
		let chain: Chain = {
			initial_snapshot_id: snapshot_id,
			chain_seed: chain_seed,
			metadata: "Created from base snapshot: " + snapshot_options[selected_snapshot_i].id,
			session_timeout_ms: (enable_session_timeout_m) ? session_timeout_m*60*1000 : null,
			sat_item_bonus_usd: (enable_sat_item_bonus_usd) ? sat_item_bonus_usd : null,
			completion_code: completion_code,
			minimum_sat_items_to_store_node: minimum_sat_items_to_store_node,
			inventory_source: inventory_source,
		};

		if (generate_goal)
			chain = {
				...chain,
				goal_parameters: {
					item_n: item_n,
					copy_n: copy_n,
					source: source,
				}
			};
		await write_chain(chain_name, chain);
		const chain_url = new URL(window.location.href);
		for (const key of chain_url.searchParams.keys())
			chain_url.searchParams.delete(key);
		chain_url.searchParams.set("chain", chain_name);
		alert("Chain '" + chain_name + "' created/updated!");
		promise = null;
	}
</script>

<div class="container">
	<form class="form" on:submit|preventDefault={()=>{promise=create_chain();}}>
		<div class="field">
			<label class="label" for="mode">Base snapshot:</label>
			<div class="select">
				<select id="mode" bind:value={selected_snapshot_i}>
					{#each snapshot_options as snapshot, i}
						<option value={i}>
							{snapshot.id}
						</option>
					{/each}
				</select>
			</div>
		</div>

		<div class="field">
			<label class="label" for="mode">Inventory source:</label>
			<div class="select">
				<select bind:value={inventory_source}>
					{#each Object.values(InventorySource) as source}
						<option value={source}>
							{source}
						</option>
					{/each}
				</select>
			</div>
		</div>

		<div class="field">
			<label class="label">
				<input type="checkbox" bind:checked={generate_goal}>
				Generate goal
			</label>
		</div>

		<div class="field">
			<label class="label" for="copy_n">Required copies of each item</label>
			<input class="input" id="copy_n" type=number bind:value={copy_n} disabled={!generate_goal}>
		</div>

		<div class="field">
			<label class="label" for="item_n">Number of goal items</label>
			<input class="input" id="item_n" type=number bind:value={item_n} disabled={!generate_goal}>
		</div>

		<div class="field">
			<label class="label" for="mode">Goal source:</label>
			<div class="select">
				<select bind:value={source} disabled={!generate_goal}>
					{#each Object.values(GoalSource) as source}
						<option value={source}>
							{source}
						</option>
					{/each}
				</select>
			</div>
		</div>

		<div class="field">
			<label class="label" for="chain_name">Chain ID (identifies the chain):</label>
			<input class="input" spellcheck="false" id="chain_name" bind:value={chain_name}>
		</div>

		<div class="field">
			<label class="label" for="chain_seed">Chain seed (determines random goals and recipes):</label>
			<input class="input" spellcheck="false" id="chain_seed" bind:value={chain_seed}>
		</div>

		<div class="field">
			<label class="label" for="completion_code">Completion code (shown to user after task and survey):</label>
			<input class="input" spellcheck="false" id="completion_code" bind:value={completion_code}>
		</div>

		<div class="field">
			<label class="label">
				<input type="checkbox" bind:checked={enable_session_timeout_m}>
				Session timeout in minutes
				<input disabled={!enable_session_timeout_m} class="input" type=number bind:value={session_timeout_m}>
			</label>
		</div>

		<div class="field">
			<label class="label">
				<input type="checkbox" bind:checked={enable_sat_item_bonus_usd}>
				Bonus awarded for each batch of equal items in USD
				<input disabled={!enable_sat_item_bonus_usd} class="input" step="0.01" type=number bind:value={sat_item_bonus_usd}>
			</label>
		</div>

		<div class="field">
			<label class="label">
				Minimum number of built goal items to store chain node
				<input class="input" type=number bind:value={minimum_sat_items_to_store_node}>
			</label>
		</div>

		<button class="button is-danger" type=submit disabled={!chain_name||!chain_seed||promise!==null}>Save chain</button>
	</form>
</div>
