<script lang="ts">
	/**
	 * Form to load sessions with custom parameters.
	 */
	import Solver from "./Solver.svelte";
	import { get_perfect_np_library} from "./minecraft_app";
	import type { BeamParameters } from "./minecraft_app";
	import type { MinecraftAPI } from "./minecraft_app";
	import type { Goal } from "./minecraft_app";
	import type { CraftingWorld } from "./minecraft_app";
	import type { ProgramState } from "./minecraft_app";
	import type { Item } from "minecraft/items";
	import type { ChainNode } from "./firebase";
	import { add_recursive } from "natural-programs/library/library";
	import { add_recursive_batch } from "natural-programs/library/library";
	import { as_json } from "natural-programs/library/library";
	import { from_json } from "natural-programs/library/library";
	import { new_library } from "natural-programs/library/library";
	import type { Library } from "natural-programs/library/library";
	import { get_constraint_as_string } from "minecraft/constraints";
	import { string_sim_timeout } from "./minecraft_app";
	import type { BeamSearchParameters } from "./session_snapshot";
	import { SessionType } from "./session_snapshot";
	import { base } from "$app/paths";
	import type { ProposeParameters } from "natural-programs/library/proposers";
	import { parse_csvs_all_recipes } from "./world_csv";
	import { remove_post_conditions } from "./minecraft_app";
	import Timer from "easytimer.js";

	export let user_id: string;
	export let snapshot_id: string;
	export let item_csv: string;
	export let mine_csv: string;
	export let library: Library;
	export let session_type: SessionType;
	export let beam_search_parameters: BeamSearchParameters;
	export let propose_parameters: ProposeParameters;
	export let api: MinecraftAPI;
	export let inventory: Item[];
	export let world: CraftingWorld<Item>;
	export let configure: boolean;
	export let snapshot_url: string;
	export let session_id: string;
	export let seed: string;
	export let goal: Item[]|null;
	export let chain_node: ChainNode|null;
	export let beam_parameters: BeamParameters;
	export let session_timeout_ms: number|null;
	export let sat_item_bonus_usd: number|null;
	export let starting_sat_items_names: string[];
	export let max_queue_size: number;
	export let replay_id: string|null;

	// Show library stopwatch
	const show_library_stopwatch = new Timer();

	type InitPromise = {
		state: ProgramState,
		library: Library,
		items_in_scope: Item[],
		goal: Goal|null,
		tutorial_video_urls: {title: string, path: string}[],
		beam_search_parameters: BeamSearchParameters,
		propose_parameters: ProposeParameters,
		beam_parameters: BeamParameters,
		starting_sat_items_names: string[],
		session_timeout_ms: number|null,
		max_queue_size: number,
	};

	// Helper function to create snapshots
	let inventory_json = JSON.stringify(inventory.map(i=>i.name));
	//let library_json = JSON.stringify(JSON.parse(as_json(library)), null, 2);
	let library_json = as_json(library);
	let goal_json = (goal===null)?"":JSON.stringify(goal.map(i=>i.name));
	let initialize_jsons_promise: null|Promise<void> = null;

	async function init_new_library() {
		const library = new_library();
		for (const primitive of api.primitives_map.keys())
			await add_recursive(library, primitive, string_sim_timeout);
		return library;
	}

	async function initialize_jsons() {
		const inventory = [];
		for (const item of world.name_to_item.values())
			if (item.is_infinite)
				inventory.push(item);
		inventory_json = JSON.stringify(inventory.map(i=>i.name));
		const library = await init_new_library();
		library_json = JSON.stringify(JSON.parse(as_json(library)), undefined, 2);
		initialize_jsons_promise = null;
		alert("Done!");
	}

	const items_in_scope = [...world.name_to_item.values()];
	const post_conditions: string[] = [];
	for(const item of items_in_scope) {
		const constraint = get_constraint_as_string({
			inventory: [item],
		});
		post_conditions.push(constraint);
	}
	post_conditions.sort();

	// Form options
	const natural_programming_tutorial_videos = [
		{title: "Opening and closing the tutorial pop up", path: base+"/tutorials/np/1.mp4"},
		{title: "Making the first item, a wood plank", path: base+"/tutorials/np/2.mp4"},
		{title: "Teaching the robot how to make a new item using the recipe book", path: base+"/tutorials/np/3.mp4"},
		{title: "Teaching the robot how to make a new item using a better description", path: base+"/tutorials/np/4.mp4"},
		//{title: "[advanced] Making the bow and arrow by showing it all the steps - use this way as last resort", path: base+"/tutorials/np/5.mp4"},
		//{title: "[advanced] Clearing the inputs", path: base+"/tutorials/np/6.mp4"},
		{title: "Finish the tutorial!", path: base+"/tutorials/np/7.mp4"},
		{title: "Summary/what should I do?!", path: base+"/tutorials/np/8.mp4"},
	];
	const direct_programming_tutorial_videos = [
		{title: "Open and close the tutorial", path: base+"/tutorials/dp/1.mp4"},
		{title: "Using existing library commands to make a board", path: base+"/tutorials/dp/2.mp4"},
		{title: "What to do when existing commands don't work? Teaching the robot how to make rope", path: base+"/tutorials/dp/3.mp4"},
		{title: "Making rope using pre-requisite materials, cotton and stick", path: base+"/tutorials/dp/4.mp4"},
		{title: "Inputting cotton and stick, and clearing, then crafting rope", path: base+"/tutorials/dp/5.mp4"},
		{title: "The three big steps of making any item", path: base+"/tutorials/dp/6.mp4"},
		{title: "Put the steps together as a new command and teach the robot!", path: base+"/tutorials/dp/7.mp4"},
		{title: "Complete the tutorial!", path: base+"/tutorials/dp/8.mp4"},
	];
	const options = [
		{
			text: SessionType.NaturalProgramming,
			tutorial_urls: natural_programming_tutorial_videos,
		},
		{
			text: SessionType.DirectSynthesis,
			tutorial_urls: natural_programming_tutorial_videos,
		},
		{
			text: SessionType.DirectProgramming,
			tutorial_urls: direct_programming_tutorial_videos,
		},
		{
			text: SessionType.Multisolver,
			tutorial_urls: natural_programming_tutorial_videos,
		},
	];
	const matching_modes = options.filter(o=>o.text===session_type);
	if (matching_modes.length !== 1)
		throw "Cannot initialize with mode: " + session_type + "!";
	let selected_mode = matching_modes[0];
	let show_debug_menu = (configure) ? true : false;
	let use_goal = goal!==null;
	let deciding = (configure) ? true : false;

	// Form inputs initial texts
	let beam_search_parameters_json = JSON.stringify(
		beam_search_parameters, null, 2
	);
	let propose_parameters_json = JSON.stringify(
		propose_parameters, null, 2
	);
	let beam_parameters_json = JSON.stringify(
		beam_parameters, null, 2
	);
	let starting_sat_items_names_json = JSON.stringify(
		starting_sat_items_names, null, 2
	);
	let enable_session_timeout_m = session_timeout_ms !== null;
	let session_timeout_m_form = (session_timeout_ms === null) ?
		20 : Math.round(session_timeout_ms/1000/60);

	/**
		* Remove signatures from the current beam search parameters JSON string.
		* This function has side-effects: the library JSON is updated.
	 */
	async function remove_library_post_conditions() {
		const library = await from_json(library_json, string_sim_timeout);
		const new_programs = library.added_sketches.map(remove_post_conditions);
		const updated_library = new_library();
		await add_recursive_batch(updated_library, new_programs, string_sim_timeout);
		library_json = as_json(updated_library);
		alert("Done!");
	}

	/**
	 * Replace library with an optimally-efficient Natural Programming "synthetic
	 * library" that should be able to craft any CraftableItem in any CraftingWorld
	 * in any inventory.
	 */
	async function replace_with_synthetic_library() {
		const items = parse_csvs_all_recipes(item_csv, "");
		const new_library = await get_perfect_np_library(items, string_sim_timeout);
		library_json = as_json(new_library);
		alert("Done!");
	}

	// Assemble application init data
	async function init(): Promise<InitPromise> {
		// Build initial library
		const library = await from_json(library_json, string_sim_timeout);

		// Solver parameters
		const beam_search_parameters = JSON.parse(beam_search_parameters_json);
		const propose_parameters = JSON.parse(propose_parameters_json);
		const beam_parameters = JSON.parse(beam_parameters_json);
		const starting_sat_items_names = JSON.parse(starting_sat_items_names_json);
		const session_timeout_ms = (enable_session_timeout_m) ? session_timeout_m_form*60*1000 : null;

		// Initial inventory
		const starting_inventory = [];
		for (const item_name of JSON.parse(inventory_json)) {
			const item = world.name_to_item.get(item_name);
			if (item === undefined)
				throw "Item " + item_name + " not in world!";
			starting_inventory.push(item)
		}

		// Initial state
		const state: ProgramState = {
			inventory: [...starting_inventory],
			crafting_table: [],
			held_item: null,
		};

		// Goal
		let goal: Goal|null = null;
		if (use_goal) {
			goal = [];
			for (const item_name of JSON.parse(goal_json)) {
				const item = world.name_to_item.get(item_name);
				if (item === undefined)
					throw "Item " + item_name + " not in world!";
				goal.push(item)
			}
		}

		return {
			state: state,
			library: library,
			items_in_scope: items_in_scope,
			goal: goal,
			tutorial_video_urls: selected_mode.tutorial_urls,
			beam_search_parameters: beam_search_parameters,
			propose_parameters: propose_parameters,
			beam_parameters: beam_parameters,
			starting_sat_items_names: starting_sat_items_names,
			session_timeout_ms: session_timeout_ms,
			max_queue_size: max_queue_size,
		};
	}
	let promise = init();
</script>

{#if deciding}
	<div class="container">
		<div class="message">
			<div class="message-body">
				Restart library and inventory with an empty library and inventory
				containing only "Infinite Items".
			</div>

			<div class="field">
				<button
					on:click={()=>initialize_jsons_promise=initialize_jsons()}
					disabled={initialize_jsons_promise!==null}
					class="button is-danger"
				>
					Restart library and inventory
				</button>
			</div>
		</div>

		<div class="message">
			<div class="message-body">
				Remove post-conditions from all programs in the library, which will
				make them accessible from Direct Programming sessions.
			</div>
			<div class="field">
				<button
					on:click={()=>initialize_jsons_promise=remove_library_post_conditions()}
					disabled={initialize_jsons_promise!==null}
					class="button is-danger"
				>
					Remove post-conditions from all programs
				</button>
			</div>
		</div>

		<div class="message">
			<div class="message-body">
				Replace library with an optimally-efficient Natural Programming
				"synthetic library" that should be able to craft any CraftableItem in
				any CraftingWorld in any inventory. Every craftable-item top-level
				"decomposition" into a multi-step Program Sketch is added to the
				library. This library will not be usable by Direct Synthesis solvers
				because it does not consist of concrete programs, only containing
				top-level decompositions instead. This process is not replicable
				through actual interaction with the system, as the system normally only
				adds concrete programs to the library.
			</div>
			<div class="field">
				<button
					on:click={()=>initialize_jsons_promise=replace_with_synthetic_library()}
					disabled={initialize_jsons_promise!==null}
					class="button is-danger"
				>
					Replace library with perfect synthetic NP library
				</button>
			</div>
		</div>

		<div class="message">
			<div class="message-body">
				Replace library by simulating successful hierarchical synthesis of
				every possible item-recipe crafting program. This is different from a
				"synthetic library" in that concrete programs are added to the library.
				This results in library with a huge number of concrete programs. In
				principle, both Natural Programming and Direct Synthesis can use this
				library.

				This is O( number of recipes per item ^ number of items ).

				The library is to big to display as text, so clicking on this will
				advance to the next menu automatically.
			</div>
		</div>

		<div class="form">
			<form on:submit|preventDefault|once={()=>{promise=init(); deciding=false;}}>

				<div class="field">
					<label for="mode">Mode:</label>
					<div class="select">
						<select id="mode" bind:value={selected_mode}>
							{#each options as option}
								<option value={option}>
									{option.text}
								</option>
							{/each}
						</select>
					</div>
				</div>

				<div class="field">
					<label for="inventory">Initial inventory:</label>
					<input class="input" spellcheck="false" id="inventory" bind:value={inventory_json}>
				</div>

				<div class="field">
					<label for="beam_p">Cross-product solver parameters:</label>
					<textarea class="textarea" spellcheck="false" id="beam_p" bind:value={beam_search_parameters_json}></textarea>
				</div>

				<div class="field">
					<label for="propose_p">Propose parameters:</label>
					<textarea class="textarea" spellcheck="false" id="propose_p" bind:value={propose_parameters_json}></textarea>
				</div>

				<div class="field">
					<label for="bp">Beam parameters:</label>
					<textarea class="textarea" spellcheck="false" id="bp" bind:value={beam_parameters_json}></textarea>
				</div>

				<div class="field">
					<label class="label">
						Max queue size
						<input class="input" type=number bind:value={max_queue_size}>
					</label>
				</div>

				<div class="field">
					<label for="library">Library:</label>
					<textarea class="textarea" spellcheck="false" id="library" bind:value={library_json}></textarea>
				</div>

				<div class="field">
					<label class="checkbox">
						<input id="use_goal" type=checkbox bind:checked={use_goal}>
						Use goal:
					</label>
				</div>

				<div class="field">
					<label for="goal">Goal:</label>
					<input class="input" spellcheck="false" id="goal" disabled={!use_goal} bind:value={goal_json}>
				</div>

				<div class="field">
					<label class="checkbox" for="debug_menu">
						<input type=checkbox bind:checked={show_debug_menu}>
						Show debug menu:
					</label>
				</div>

				<div class="field">
					<label>
						Starting sat item names
						<input class="input" spellcheck="false" bind:value={starting_sat_items_names_json}>
					</label>
				</div>

				<div class="field">
					<label class="label">
						<input type="checkbox" bind:checked={enable_session_timeout_m}>
						Session timeout in minutes
						<input disabled={!enable_session_timeout_m} class="input" type=number bind:value={session_timeout_m_form}>
					</label>
				</div>

				<button class="button" type=submit>Go</button>
			</form>
		</div>
	</div>
{:else}
	{#await promise}
		<p>Assembling initial library</p>
	{:then init_data}
		<Solver
			user_id={user_id}
			snapshot_id={snapshot_id}
			state={init_data.state}
			library={init_data.library}
			world={world}
			show_debug_menu={show_debug_menu}
			mine_csv={mine_csv}
			item_csv={item_csv}
			session_type={selected_mode.text}
			beam_search_parameters={init_data.beam_search_parameters}
			propose_parameters={init_data.propose_parameters}
			snapshot_url={snapshot_url}
			session_id={session_id}
			seed={seed}
			goal={init_data.goal}
			chain_node={chain_node}
			tutorial_video_urls={init_data.tutorial_video_urls}
			api={api}
			beam_parameters={init_data.beam_parameters}
			sat_item_bonus_usd={sat_item_bonus_usd}
			session_timeout_ms={init_data.session_timeout_ms}
			starting_sat_items_names={init_data.starting_sat_items_names}
			max_queue_size={init_data.max_queue_size}
			replay_id={replay_id}
			show_library_stopwatch={show_library_stopwatch}
			on:task_completed
		/>
	{:catch error}
		<p>Something went wrong: {error}</p>
		<p>Maybe the NL API is offline? Try reloading the page.</p>
	{/await}
{/if}
