<script lang="ts">
	// This component loads a snapshot from the database
	import CSVForm from "./CSVForm.svelte";
	import type { SessionSnapshot } from "./session_snapshot";
	import { createEventDispatcher } from 'svelte';
	import { get_snapshot } from "./firebase";
	import { base } from '$app/paths';
	const dispatch = createEventDispatcher();

	export let user_id: string;
	export let snapshot_options: [string, SessionSnapshot][];
	export let snapshot_id: string;
	export let snapshot_url: string;
	export let session_id: string;
	
	let selection_mode = "select";
	let selected_snapshot_id = "";
	let deciding = snapshot_options.length !== 0;
	let configure = snapshot_options.length === 0;
	let i = 0;

	const icon_directory = base+"/img/icons/";
	async function init() {
		dispatch("submit");
		if (selection_mode === "select")
			return snapshot_options[i][1];
		else
			return get_snapshot(selected_snapshot_id, icon_directory);
	}
	let promise = init();
</script>

{#if deciding}
	<div class="container">
		<form on:submit|preventDefault|once={()=>{promise=init(); deciding=false;}}>

			<div class="field">
				<div class="control">
					<label class="radio">
						<input type="radio" name="question" bind:group={selection_mode} value="select">
						Pre-defined
					</label>
					<label class="radio">
						<input type="radio" name="question" bind:group={selection_mode} value="id">
						Custom ID
					</label>
				</div>
			</div>

			<div class="field">
				<label class="label" for="mode">Snapshot:</label>
				{#if selection_mode === "id"}
					<div class="control">
						<input class="input" type="text" placeholder="Text input" bind:value={selected_snapshot_id}>
					</div>
				{:else}
					<div class="select">
						<select id="mode" bind:value={i}>
							{#each snapshot_options as snapshot, id_}
								<option value={id_}>
									{snapshot[0]}
								</option>
							{/each}
						</select>
					</div>
				{/if}
			</div>

			<div class="field">
				<label class="label" for="configure">Configure:</label>
				<input class="checkbox" id="configure" type=checkbox disabled={snapshot_options.length === 0} bind:checked={configure}>
			</div>
			<button class="button" type=submit>Go</button>
		</form>
	</div>
{:else}
	{#await promise}
		<p>Assembling snapshot...</p>
	{:then init_data}
		<CSVForm
			user_id={user_id}
			snapshot_id={snapshot_id}
			item_csv={init_data.item_csv}
			mine_csv={init_data.mine_csv}
			session_type={init_data.session_type}
			library={init_data.library}
			inventory={init_data.inventory}
			beam_search_parameters={init_data.beam_search_parameters}
			propose_parameters={init_data.propose_parameters}
			configure={configure}
			snapshot_url={snapshot_url}
			session_id={session_id}
			seed={init_data.seed}
			goal={init_data.goal}
			chain_node={null}
			beam_parameters={init_data.beam_parameters}
			session_timeout_ms={null}
			sat_item_bonus_usd={null}
			starting_sat_items_names={init_data.sat_items_names === null ? [] : init_data.sat_items_names}
			max_queue_size={init_data.max_queue_size}
			replay_id={null}
			/>
	{:catch error}
		<p>Something went wrong assembling snapshot: {error}</p>
		<p>Maybe the NL API is offline? Try reloading the page.</p>
	{/await}
{/if}
