<script lang="ts">
	import type { NaturalSignature } from "natural-programs/types";
	import { BlockType, simple_signature_as_block_info } from "./ide/blocks";
	import Blockly from 'blockly';

	export let items: NaturalSignature[];
	export let add_signature: null|((np: NaturalSignature)=>void);

	let search_query = "";
	let loading = true;
	let displayed_programs: NaturalSignature[] = [];
	setTimeout(() => {
		const _items = [...items];
		_items.reverse();
		update_current_programs(1, _items);
		loading = false;
	}, 200);
	const update_delay_milliseconds = 200;
	const pause_every = 30;
	const programs_per_page = 5;
	let current_page_programs: NaturalSignature[] = [];
	let page = 0;
	let page_n = 1;

	function set_block_svg(node: HTMLElement, np: NaturalSignature) {
			const options = {
				toolbox: {contents: []},
				trashcan: false,
				scrollbars: false,
				readOnly: true,
				zoom: { startScale: 1.0, controls: false, pinch: false },
				move: { scrollbars: {horizontal: false, vertical: false}, drag: false, },
			};
			const workspace = Blockly.inject(node, options);
			const info = simple_signature_as_block_info(np);
			const block = workspace.newBlock(BlockType.SimpleSignature);
			for (const [field, value] of Object.entries(info.fields))
				block.setFieldValue(value, field);
			const button = block.getField("PLAY_BUTTON");
			if (button !== null)
				button.setOnClickHandler(null);
			block.initSvg();
			workspace.render();
			workspace.zoomToFit();

		// Nothing extra needs to happen when the element is removed from the DOM
		return { destroy() {} };
	}

	function on_click(np: NaturalSignature) {
		if (add_signature !== null)
			add_signature(np);
	}

	function previous_page() {
		if (page <= 0) return;
		update_current_programs(page-1, displayed_programs)
	}

	function next_page() {
		if (page >= page_n-1) return;
		update_current_programs(page+1, displayed_programs)
	}

	/**
	 * Update the programs in the current page. `page_i` is 0-indexed.
	 */
	function update_current_programs(page_i: number, items: NaturalSignature[]) {
		page = page_i;
		page_n = Math.ceil(items.length/programs_per_page);
		const new_current_page_programs = [];
		const start_i = page_i*programs_per_page;
		const end_i = Math.min(items.length, start_i + programs_per_page);
		for (let i = start_i; i < end_i; i++) {
			new_current_page_programs.push(items[i]);
		}
		displayed_programs = items;
		current_page_programs = new_current_page_programs;
	}

	/**
	 * Update to the program list with the current query
	 **/
	 async function update_displayed_programs(trigger_search_query: string) {
		if (loading) return;
		loading = true;
		const new_displayed_items = []
		const query = trigger_search_query.trim().toLowerCase();
		if(query.length > 0) {
			for(let i = 0; i < items.length; i++) {
				const program = items[i];
				const program_name = (program.name === undefined) ? "" : program.name;
				if(program_name.trim().toLowerCase().includes(query))
					new_displayed_items.push(program);

				// This loop is slow. Pausing execution allows the UI to update.
				if(i % pause_every === pause_every-1)
					await new Promise(r => setTimeout(r, 10));

				// If the search query has changed, there is no point in continuing
				// to build the new list of programs for the old query.
				// We assume that a new call has been schedule.
				if(trigger_search_query !== search_query) {
					break;
				}
			}
		} else {
		 new_displayed_items.push(...items);
	 }

		// Unlikely, but the search could have changed by now.
		loading = false;
		if(trigger_search_query != search_query)
			return;

		// Update the displayed programs
		new_displayed_items.reverse();

		// Update active pages
		update_current_programs(0, new_displayed_items);
	 }

	/**
	 * React to every change of the search query by scheduling an update to
	 * the displayed programs.
	 */
	$: if(search_query || true)  {
		setTimeout(() => update_displayed_programs(search_query), update_delay_milliseconds);
	}
</script>

<div id="outer-container">
	{#if page_n > 1}
	<div class="content">
		<input
			class="input"
			type="search"
			bind:value={search_query}
			placeholder="filter by..."
		>
	</div>
	{/if}
	<div class="block_list">
		{#if loading}
			<progress class="progress is-small is-primary" max="100">15%</progress>
		{:else}
			{#key current_page_programs}
				{#each current_page_programs as item}
					<div class="columns">
						<div class="column is-two-thirds">
							<div class="blockly_div" use:set_block_svg={item}></div>
						</div>
						{#if add_signature !== null}
							<div class="column">
								<button class="button" on:click="{()=>on_click(item)}">Add!</button>
							</div>
						{/if}
					</div>
				{/each}
			{/key}
		{/if}
	</div>
	{#key page}
	{#key current_page_programs}
	{#if page_n > 1}
		<nav class="pagination" role="navigation" aria-label="pagination">
			<a class="pagination-previous" on:click={()=>previous_page()}>Previous</a>
			<a class="pagination-next" on:click={()=>next_page()}>Next page</a>
			<ul class="pagination-list"><li>{page+1}/{page_n}</li></ul>
		</nav>
	{/if}
	{/key}
	{/key}
</div>

<style>
	input {
		width: 100%;
	}
	.block_list {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.blockly_div {
		height: 2em !important;
		width: 100%;
	}
	#outer-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
</style>
