<script lang="ts">
	import { base } from '$app/paths';

	let burger: HTMLElement;
	let menu: HTMLElement;
	function toggle_burger() {
		burger.classList.toggle("is-active");
		menu.classList.toggle("is-active");
	}
</script>
<main>
	<nav class="navbar">
		<div class="navbar-brand">
			<a class="navbar-item" href={base+"/"}>
				<img id="logo" src={base+"/logo.png"} alt="NP">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" href="#" on:click={toggle_burger} bind:this={burger}>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu" bind:this={menu} on:click={toggle_burger}>
			<div class="navbar-start">
				<a class="navbar-item" href={base+"/"}>
					Home
				</a>

				<a class="navbar-item" href={base+"/about"}>
					About
				</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" href="#">
						More
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href={base+"/tutorial"}>
							Tutorial
						</a>
						<a class="navbar-item" href="https://gitlab.com/da_doomer/crafting-natural-language">
							Source code
						</a>
						<a class="navbar-item" href={base+"/terms"}>
							Privacy Policy
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" href={base+"/configure"}>
							Configure session
						</a>
						<a class="navbar-item" href={base+"/chain_plots"}>
							Inspect chain
						</a>
						<a class="navbar-item" href={base+"/benchmark"}>
							Benchmark
						</a>
						<a class="navbar-item" href={base+"/hyperparameter_tuning"}>
							Hyperparameter tuning
						</a>
						<a class="navbar-item" href={base+"/configure_experiment"}>
							Configure experiment
						</a>
						<a class="navbar-item" href={base+"/simulation"}>
							Simulation
						</a>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-primary" href={base+"/experiment"}>
							<strong>Join the experiment</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<slot ></slot>
</main>


<style lang="scss" global>
	@import '../node_modules/bulma/bulma';

	#logo {
		height: 2em !important;
		width: 2em !important;
	}

	main {
		height: 100%;
		width: 100%;
	}
</style>
