<script lang="ts">
	import SessionSnapshotForm from "$lib/SessionSnapshotForm.svelte";
	import ChainSelector from "$lib/ChainSelector.svelte";
	import type { SessionSnapshot } from "$lib/session_snapshot";
	import { get_chain_ids, sign_in_anonymously } from "$lib/firebase";
	import { get_default_snapshots } from "$lib/firebase";
	import { get_new_session_id } from "$lib/firebase";
	import { get_new_user_id } from "$lib/firebase";
	import { get_snapshot } from "$lib/firebase";
	import { get_new_snapshot_id } from "$lib/firebase";
	import { base } from '$app/paths';
	import { get_snapshot_url } from "$lib/minecraft_app";

	const icon_directory = base+"/img/icons/";

	type SnapshotConfigurationInitPromise = Promise<{
		snapshot_id: string,
		snapshot_options: [string, SessionSnapshot][],
		snapshot_url: string,
		session_id: string,
		user_id: string,
		chain_ids: string[],
	}>;

	const params = new URLSearchParams(window.location.search);
	const query_snapshot_id = params.get("start_snapshot_id");
	let show_menu = true;
	let choose_snapshot = true;

	async function new_snapshot() {
		const new_snapshot_id = await get_new_snapshot_id();
		return [new_snapshot_id, get_snapshot_url(new_snapshot_id, base).toString()];
	}

	async function get_snapshots(): SnapshotConfigurationInitPromise {
		await sign_in_anonymously();
		const user_id = await get_new_user_id();

		const [new_snapshot_id, snapshot_url] = await new_snapshot();
		const snapshots: [string, SessionSnapshot][] = [];

		// Add the snapshot in the query
		if (query_snapshot_id !== null) {
			snapshots.push([query_snapshot_id, await get_snapshot(query_snapshot_id, icon_directory)]);
		}

		// Add the default snapshots
		try {
			for (const data of await get_default_snapshots(icon_directory))
				snapshots.push([data.id, data.snapshot]);
		} catch (err) {
			console.error({
				error: err,
				message: "Maybe we are we starting from scratch?",
			});
		}
		const session_id = await get_new_session_id();

		// Get the chains IDs
		const chain_ids = await get_chain_ids();
		return {
			snapshot_id: new_snapshot_id,
			snapshot_options: snapshots,
			snapshot_url: snapshot_url.toString(),
			session_id: session_id,
			user_id: user_id,
			chain_ids: chain_ids,
		};
	}

	const snapshot_promise = get_snapshots();
</script>

<div id="main">
	{#await snapshot_promise}
		<p>Loading available session snapshots...</p>
	{:then init_data}
		{#if show_menu}
			<div class="container">
				<article class="message is-warning">
					<div class="message-header">
						<p>Lost?</p>
					</div>
					<div class="message-body">
						This page is used by the developers to load custom sessions, create
						snapshots and debug the system, but feel free to explore! </div>
				</article>
				<div class="field">
					<div class="control">
						<label class="radio"><input type=radio bind:group={choose_snapshot} value={true}>Snapshot</label>
						<label class="radio"><input type=radio bind:group={choose_snapshot} value={false}>Chain</label>
					</div>
				</div>
			</div>
		{/if}
		{#if choose_snapshot}
			<SessionSnapshotForm
				user_id={init_data.user_id}
				snapshot_id={init_data.snapshot_id}
				snapshot_options={init_data.snapshot_options}
				snapshot_url={init_data.snapshot_url}
				session_id={init_data.session_id}
				on:submit={()=>{show_menu=false}}
			/>
		{:else}
			<ChainSelector
				chain_ids={init_data.chain_ids}
				user_id={init_data.user_id}
				session_id={init_data.session_id}
				on:submit={()=>{show_menu=false}}
			/>
		{/if}
	{:catch error}
		<p>Something went wrong loading available session snapshots: {error}</p>
		<p>Maybe the database or the NL API is offline? Try reloading the page.</p>
	{/await}
</div>
