<script lang="ts">
	import HyperparameterTuning from "$lib/HyperparameterTuning.svelte";
	import { get_chain_ids, get_fallback, sign_in_anonymously } from "$lib/firebase";
	import { get_chain_executions } from "$lib/firebase";
	import type { SuccessfulExecution } from "$lib/firebase";
	import type { FailedExecution } from "$lib/firebase";
	import type { Parameters } from "$lib/hyperparameter_tuning";
	import type { BeamSearchParameters } from "$lib/session_snapshot";
	import type { ProposeParameters } from "src/natural_programs/library/proposers";
	import type { BeamParameters } from "$lib/minecraft_app";

	let chain_id = "";
	let solver_phase_timeout = 5000;

	async function init() {
		await sign_in_anonymously();
		const chain_ids = await get_chain_ids();
		if (chain_ids.length > 0)
			chain_id = chain_ids[0];
		starting_parameters = {
			beam_search_parameters: (await get_fallback("beam_search_parameters")) as BeamSearchParameters,
			propose_parameters: (await get_fallback("propose_parameters")) as ProposeParameters,
			beam_parameters: (await get_fallback("np_beam_parameters")) as BeamParameters,
			max_queue_size: (await get_fallback("max_queue_size")) as number,
		};
		return {
			chain_ids: chain_ids,
		};
	}
	let starting_parameters: (null|Parameters);
	const init_promise = init();
	let executions_promise: Promise<(SuccessfulExecution|FailedExecution)[]>;
</script>

<div class="container">
	<div class="section">
		<div class="content">
			<h1>Hyperparameter tuning</h1>
			<p>This page optimizes hyperparameters of the solver over submissions in the nodes of a chain.</p>
		</div>
	</div>
	<div class="section">
		<article class="message is-warning">
			<div class="message-header">
				<p>Lost?</p>
			</div>
			<div class="message-body">
				This page is used by the developers of the system,
				but feel free to explore!
			</div>
		</article>
	</div>

	{#await init_promise}
		<div class="section">
			<p>Loading available chains and default hyperparameters...</p>
			<progress class="progress is-medium is-primary" max="100">1%</progress>
		</div>
	{:then init_data}
		<div class="section">
			<h2 class="subtitle">Chain selection</h2>
			<form on:submit|preventDefault={()=>{executions_promise=get_chain_executions(chain_id)}}>
				<div class="field">
					<label class="label" for="mode">Chain:</label>
					<div class="select">
						<select id="mode" bind:value={chain_id}>
							{#each init_data.chain_ids as chain_id}
								<option value={chain_id}>
									{chain_id}
								</option>
							{/each}
						</select>
					</div>
				</div>

				<div class="field">
					<label for="solver_phase_timeout_p">Solver phase timeout:</label>
					<input class="input" type="number" id="solver_phase_timeout_p" bind:value={solver_phase_timeout} min="1" max="100000">
				</div>

				<button class="button" type=submit disabled={!chain_id}>Go</button>
			</form>
		</div>
	{:catch err}
		Something wrong happened: {err}
	{/await}

	{#if executions_promise !== undefined && starting_parameters !== null}
		{#await executions_promise}
			<div class="section">
				<p>Searching chain executions...</p>
				<progress class="progress is-medium is-primary" max="100">1%</progress>
			</div>
		{:then chain_executions}
			<div class="section">
				<h2 class="subtitle">Chain execution statistics</h2>
				Found:
				<table class="table">
					<thead><th>Metric</th><th>Value</th></thead>
					<tbody>
						<tr>
							<td>Total NPs</td>
							<td>{chain_executions.length}</td>
						</tr>
						<tr>
							<td>Unique NPs</td>
							<td>{(new Set(chain_executions.map(e=>e.np))).size}</td>
						</tr>
						<tr>
							<td>Failed</td>
							<td>{chain_executions.filter(e=>"error" in e).length}</td>
						</tr>
						<tr>
							<td>Successful</td>
							<td>{chain_executions.filter(e=>!("error" in e)).length}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="section">
				<HyperparameterTuning
					executions={chain_executions}
					solver_phase_timeout={solver_phase_timeout}
					starting_parameters={starting_parameters}
					/>
			</div>
		{:catch err}
			Something wrong happened: {err}
		{/await}
	{/if}
</div>
